<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>MacTriche.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>Triche (Notification).xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>Triche.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>E897E0581D3022C4009D7827</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E897E06F1D3022C4009D7827</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E897E07A1D3022C4009D7827</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E897E0941D302CD2009D7827</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
